name: GitHub Pages build

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy page
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{matrix.node-version}}

      - name: Install dependencies
        run: |
          npm install ci

      - name: Render OpenApi spec
        run: |
          npm run build:doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
