name: GitHub Pages build

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy page
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{matrix.node-version}}

      - name: Enable Corepack - Select pnpm version
        run: corepack enable

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Render OpenApi spec
        run: |
          npm run build:doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
