name: Pull request Code test
on:
  push:
    branches-ignore:
      - main
      - gh-pages
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{matrix.node-version}}

      - name: Enable Corepack - Select pnpm version
        run: corepack enable

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Set up Go 1.23
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25
          check-latest: true
          cache-dependency-path: backend/go.sum

      - name: Checkout base
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.base_ref }}
          path: base
          submodules: false

      - name: Checkout revison
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.head_ref }}
          path: head
          submodules: false

      - name: Generate openapi json base
        run: |
          npx redocly bundle ${{ github.workspace }}/base/openapi.yaml --output ${{ github.workspace }}/base/openapi.json

      - name: Generate openapi json revision
        run: |
          npx redocly bundle ${{ github.workspace }}/head/openapi.yaml --output ${{ github.workspace }}/head/openapi.json

      - name: Install oasdiff
        run: |
          go install github.com/oasdiff/oasdiff@latest

      - name: Run oasdiff diff
        run: |
          oasdiff diff ${{ github.workspace }}/base/openapi.json ${{ github.workspace }}/head/openapi.json

      - name: Run oasdiff changelog
        run: |
          oasdiff breaking ${{ github.workspace }}/base/openapi.json ${{ github.workspace }}/head/openapi.json -f githubactions

      - name: Run oasdiff breaking changes
        run: |
          oasdiff changelog ${{ github.workspace }}/base/openapi.json ${{ github.workspace }}/head/openapi.json -f githubactions

      - name: Lint OpenApi spec
        run: |
          npm run lint
